# Виртуальное окружение (не нужно на сервере)
.venv/
venv/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Настройки PyCharm
.idea/
.vscode/

# База данных (создастся заново)
trustbot.db

# Переменные окружения
.env